name: Test
description: Test workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Linux cmd
          run: |
            echo "Hello World"

    
